<div style="margin: 10px;">
  <a (click)="onLogout()"><button mat-button color="accent">Logout</button></a>
</div>

<div class = "centered">
</div>
<div class = "notification active">
	<div class = "text" *ngFor="let user of users">
    <button [disabled]="user.userCliceked" (click)="onHandRaised()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>pan_tool</mat-icon>
    </button>
    <b>{{user.userName}}</b>
    <!-- Hand raised by <b> -  -</b> {{date}} -->

	</div>
</div>


<div class="container-fluid">
  <div class="row" >
<div class="col-xl-6 col-lg-6 col-sm-12" *ngFor="let match of matches | slice:0:2; let i=index">
  <div class="card">
    <div class="card-header">
      {{match.teamName}}
      <span matBadge="{{match.score}}" matBadgeSize="large" matBadgeColor="accent"></span>



    </div>
    <div class="card-body">
      <p class="card-text">  {{match.fPlayer}} -   {{match.sPlayer}}</p>



      <!-- <input [(ngModel)]="scoreVal">
      <button mat-raised-button (click)="updateScore(match.id, scoreVal)">update score</button> -->
    </div>
  </div>
</div>

</div>
</div>
<br><br><br><br><br>
<!-- ngIf Admin-->
<div class="card">
  <div class="card-header">
    Admin Actions
  </div>
  <div class="card-body">
      <button mat-raised-button (click)="onReleasedClickedByAdmin()">Put Hand Down</button>
      <!-- <button mat-raised-button (click)=stopClickListenerTimer() >stop click listener timer</button> -->
    </div>
</div>





 <!-- <div *ngFor="let match of matches | slice:0:2; let i=index">
  <br>
  <h1>{{match.teamName}}</h1>
  <h2>{{match.score}}</h2>
  <h3>{{match.id}}</h3>
  <br>
  {{match.fPlayer}} -   {{match.sPlayer}}
  <br>
  {{match.score}}
  <br>
  <input [(ngModel)]="scoreVal">



  <button mat-raised-button (click)="updateScore(match.id, scoreVal)">update score</button>
  </div>



<div>
  <button mat-raised-button  (click)="onHandRaised()" >Raise Your Hand</button>
</div>

<br>

<div *ngFor="let user of users">Hand raised by <b> - {{user.userName}} -</b> {{date}}</div>

<br><br>
<div>
  <button mat-raised-button (click)="onReleasedClickedByAdmin()">Admin Realease clicked</button>
</div>


<br><br><br><br>
<div>
  <button (click)=stopClickListenerTimer() >stop click listener timer</button>
</div>
<div>
  <button mat-raised-button (click)="onClickedinfoByAdmin()">Admin get Clicked info</button>
</div> -->
