
 <div *ngFor="let match of matches | slice:0:2; let i=index">
  <br>
  <h1>{{match.teamName}}</h1>
  <h2>{{match.score}}</h2>
  <h3>{{match.id}}</h3>
  <br>
  {{match.fPlayer}} -   {{match.sPlayer}}
  <br>
  {{match.score}}
  <br>
  <input [(ngModel)]="scoreVal">



  <button mat-raised-button (click)="updateScore(match.id, scoreVal)">update</button>
  </div>



<div>
  <button mat-raised-button  (click)="onHandRaised()" >Click to Answer</button>
</div>

<br>

<div *ngFor="let user of users">Hand raised by <b> - {{user.userName}} -</b> {{date}}</div>

<br><br>
<div>
  <button mat-raised-button (click)="onReleasedClickedByAdmin()">Admin Realease clicked</button>
</div>

<!-- <div>
  <button mat-raised-button (click)="onClickedinfoByAdmin()">Admin get Clicked info</button>
</div> -->
