
 <div *ngFor="let match of matches | slice:0:2; let i=index">
  <br>
  <h1>{{match.teamName}}</h1>
  <br>
  {{match.fPlayer}} -   {{match.sPlayer}}

  </div>



<div>
  <button mat-raised-button  (click)="onHandRaised()" >Click to Answer</button>
</div>

<br>

<div *ngFor="let user of users">Hand raised by <b> - {{user.userName}} -</b> {{date}}</div>

<br><br>
<div>
  <button mat-raised-button (click)="onReleasedClickedByAdmin()">Admin Realease clicked</button>
</div>

<!-- <div>
  <button mat-raised-button (click)="onClickedinfoByAdmin()">Admin get Clicked info</button>
</div> -->
