

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


input[type="file"] {
  visibility: hidden;
}

.img-preview {
  height: 5rem;
  margin: 1rem 0;
}

.img-preview img {
 height: 100%;
}
