  <!-- Board -->
  <div class="board">
    <div id="hexGrid">
      <div class="hexCrop">
        <div class="hexGrid">
          <div class="hex" *ngFor="let item of shuffledArray; let i = index" class="hex"
          [style.background-color]="item.color">
          <span  (click)="onGreenColor(item.id, item.letter)"
          style="font-size: 15px; border: 0px white solid; width: 32px; height: 63px;"></span>
            <span [style.color]="item.fontcolor">{{item.letter}}</span>
            <span  (click)="onRedColor(item.id, item.letter)" style="font-size: 15px; border: 0px white solid; width: 32px;
             height: 63px;"></span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <button type="submit" mat-raised-button color="accent" (click)="shuffleArray(shuffledArray)">Random a Letters</button>
