  <!-- Board -->
  <div >
  <div class="board" >
    <div id="hexGrid">
      <div class="hexCrop">
        <div class="hexGrid">
          <div class="hex" *ngFor="let item of Boards; let i = index" class="hex"
          [style.background-color]="item.color">
          <span *ngIf="userName === 'Admin'"  (click)="onGreenColor(item.id, item.letter)"
          style="font-size: 15px; border: 0px white solid; width: 32px; height: 63px;"></span>
            <span [style.color]="item.fontcolor">{{item.letter}}</span>
            <span *ngIf="userName === 'Admin'"  (click)="onRedColor(item.id, item.letter)" style="font-size: 15px; border: 0px white solid; width: 32px;
             height: 63px;"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
<div class="shuffleArray">
  <button *ngIf="userName === 'Admin'" type="submit" mat-raised-button mat-fab color="Primary" (click)="shuffleArray(Boards)"><mat-icon>shuffle</mat-icon></button>
</div>
</div>
