.headerBg {
  background-color: #252f5a;
  margin-bottom: 4px;
}

.naseejColor {
  color: #ff344d  !important ;
    font-size: 1.5rem;
    font-weight: bold;
}

.naseejFont{
  color: #fff  !important ;
    font-size: 1.5rem;
    font-weight: bold;
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

}

.spacer {
  flex: 1 1 auto
}



