
<mat-toolbar color="primary">
  <span><a mat-button routerLink="" >Home</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/teams" routerLinkActive="mat-accent">Teams</a></li>
    <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/match" routerLinkActive="mat-accent">Match</a></li>
    <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/login" routerLinkActive="mat-accent">Log in</a></li>
    <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a></li>
    <li *ngIf="userIsAuthenticated" (click)="onLogout()"><button mat-button >Logout</button></li>
  </ul>
</mat-toolbar>


